[Unit]
Description=frag-ispoll service

[Service]
Type=simple
WorkingDirectory=/var/frag/%i/
ExecStartPre=/usr/bin/kinit -t /var/frag/%i/krb5_ispoll.keytab frag_ispoll_%i/%H
ExecStart=/var/frag/utils/frag-ispoll /var/frag/%i/ispoll.yaml
User=frag_ispoll_%i
Group=frag_ispoll
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
KillMode=process
KillSignal=TERM
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
